
h1,h2,h3,h4,h5,ul,li,dd,dl,p{margin:0;padding:0;font-weight:500;list-style-type:none;}
a,a:active{cursor:pointer;outline:none;text-decoration:none;}

html,body{margin:0;padding:0;}
*{}
html,body{height:100%;position:relative;font-size:16px;font-family:microsoft yahei;background-color:#f61e77;color:#363636;}
.header_title{text-align:center;}
.img{width:100%;vertical-align:bottom;}

.body_div{height:82%;padding:11% 0 3%;background:url('img/chou_main_bg.jpg') no-repeat center top;background-size:100% auto;}
.chou_div{text-align:center;position:relative;}
.chou_div .chou_img{width:260px;margin:0 auto;}
.chou_div .chou_abtn{position:absolute;left:0;right:0;top:50%;margin:-50px auto 0;display:inline-block;width:100px;height:100px;background:url('img/chou_d.png') no-repeat center top;background-size:contain;}
.message{margin-top:20%;}
/* 
.message .title{font-size:14px;color:#fff;text-align:right;line-height:25px;}
.text_m{height:239px;position:relative;}
.text_m .bg{top:0;left:0;bottom:0;right:0;position:absolute;background-color:#000;opacity:0.2;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;}
.text_m .content{height:100%;padding:10px 20px;top:0;left:0;bottom:0;right:0;position:absolute;overflow:hidden;}
.text_m .left{padding:10px 5px;margin-right:5%;float:left;vertical-align:top;line-height:20px;font-size:18px;color:#000;background-color:#ffcc01;display:inline-block;}
.text_m .right{width:80%;vertical-align:top;float:left;display:inline-block;line-height:25px;font-size:14px;color:#fff;}
.text_m{}
 */
/* 弹窗 */
.sbox_bg{z-index:9;position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:0.75;filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity:0.75;display:none;}
.sbox{position:relative;height:100%;margin:0 auto;width:90%;max-width:380px;z-index:10;position:fixed;top:0;right:0;bottom:0;left:0;display:none;}
.sbox .content_box{padding:36px 0px;position:absolute;top:10%;left:0;right:0;margin:0px 0% 0;}
.sbox .content_box2{position:relative;}
.sbox .content_box .img_bg{width:100%;}
.content_box .div1{height:10.4%;margin-top:15%;}
.content_box .div2{height:10.4%;margin-top:5%;}
.content_box .div3{height:10.4%;margin-top:5.5%;}
.content_box .div4{height:10.4%;margin-top:5.5%;}
.content_box .div5{height:12%;margin-top:14.8%;}
.sbox .content_box .c_text{padding:0 10% 0 0;text-align:right;height:100%;position:absolute;top:0;right:0;left:0;bottom:0;}
.common_input{font-size:16px;outline:none;height:100%;width:56%;border:none;background:none;font-size:16px;color:#000;display:inline-block;}
.lable{font-size:16px;color:#fff;}
.submit_btn{height:100%;display:inline-block;color:#14032a;width:88%;}
.close_btn{position:absolute;top:0;right:0;display:inline-block;width:30px;height:10%;background:url('img/close_01.png') no-repeat center bottom;background-size:100% auto;}
.tips{font-size:15px;color:#fff;text-align:center;}






