
h1,h2,h3,h4,h5,ul,li,dd,dl{margin:0;padding:0;font-weight:500;list-style-type:none;}
a{cursor:pointer;outline:none;text-decoration:none;}
html,body{margin:0;padding:0;}
*{}
html,body{height:100%;position:relative;font-size:16px;font-family:microsoft yahei;background-color:#f3efec;color:#650147;}
/*  */
.body_div{}
.body_div .banner{} 
.body_div .banner .img{width:100%;vertical-align:bottom;}
.page1{}
.page1 .text_list{text-align:center;font-size:14px;margin-top:19px;}
.page1 .text_align{text-align:center;}
.page1 .page_div{padding-top:0px;}
.page1 .page_div .tip_body{width:89%;height:253px;margin:0 auto;position:relative;}
.page1 .page_div .bg2{position:absolute;display:block;top:0;right:0;left:0;bottom:0;z-index:2;}
.page1 .page_div .ul{text-align:center;}
.page1 .page_div .ul span.color{color:#f80000;vertical-align:middle;}
.page1 .page_div .ul span.spacing1{letter-spacing:16px;}
.page1 .page_div .ul span.spacing2{letter-spacing:42px;}
.page1 .page_div .ul span.spacing3{letter-spacing:0px;}
.page1 .page_div .ul li{line-height:38px;margin-top:10px;display:block;position:relative;}
.page1 .page_div .ul li .block{display:block;}
.page1 .page_div .ul li .border_bottom{padding-left:96px;position:absolute;margin:0 auto;width:47%;right:0;left:0;top:31px;}
.page1 .page_div .btn {text-align:center;margin-top:34px;}
.page1 .page_div .btn  a.btn_a{color:#fff;display:inline-block;width:84%;margin-top:15px;height:40px;line-height:40px;text-align:center;background-color:#ff7db3;border-radius:30px;}
.page1 .page_div .btn  a.btn_a:active{background-color:#db598f;}
.page1 .page_div .bg{background-color:#002d39;position:absolute;top:0;right:0;left:0;bottom:0;z-index:1;
    -webkit-opacity: 0.1;   
    -moz-opacity: 0.1;  
    -khtml-opacity: 0.1;   
    opacity: 0.1;  
    filter:alpha(opacity=50);  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10); 
}
select{appearance:none;-webkit-appearance: none;}
.select_common,.input_common{background:none;border:none;width:47%;height:22px;line-height:22px;display:inline-block;}
.select_common{background:none;background:url("img/down.png") no-repeat 97% center;background-size:auto 40%;}
.page_div2{padding:24px 0 0;margin-top:38px;}
.page_div2 .img1{width:100%;vertical-align:bottom;}
/*  */
.c_bottom{height:50px;line-height:50px;text-align:center;background-color:#9b2f53;font-size:16px;color:#fff;}
.c_bottom2{overflow:hidden;line-height:20px;text-align:center;padding:10px 0 20px;background-color:#9b2f53;font-size:12px;color:#fff;}
.c_bottom a,.c_bottom2 a{color:#fff;}
.c_bottom2 .img{width:150px;}
/*  */
.page_div3{overflow:hidden;margin:20px 0 60px;}
.page_div3 .pd_div{float:left;display:inline-block;}
.page_div3 .pd_div1{width:10%;height:660px;background:url('img/t_bottom_img_bg.png') no-repeat right top;background-size:70% 100%;}
.page_div3 .pd_div2{width:90%;position:relative;}
.page_div3 .list{height:220px;}
.page_div3 .list .display{float:left;display:inline-block;width:50%;}
.page_div3 .list .display1{padding-left:2%;width:48%;}
.page_div3 .list .t{display:inline-block;color:#9b2f53;font-weight:600;font-size:16px;}
.page_div3 .list .p{color:#ff7db3;font-size:13px;}
.page_div3 .list .img{width:97%;max-width:170px;margin:35px auto 0;}
.page_div3 .img_bottom{width:90%;max-width:250px;position:absolute;bottom:0px;right:0;left:0;margin:0 auto;}
