

.card_pay_box.item-box{}
.card_pay_box.item-box h4.h4{font-size:16px;color:#707070;padding-left:30px;margin-top:30px;}

.card_pay_box.item-box ul.ul{padding-left:30px;margin-top:30px;overflow:hidden;}
.card_pay_box.item-box ul.ul li{float:left;display:inline-block;margin-right:74px;}
.card_pay_box.item-box ul.ul .a-link.other_pay_btn{cursor:pointer;margin-left:0px;text-align:center;display:block;height:33px;line-height:33px;width:135px;border:1px dashed #ccc;color:#539d34;}
.card_pay_box.item-box ul.ul li.active .a-link.other_pay_btn,.card_pay_box.item-box ul.ul .a-link.other_pay_btn:hover{color:#fff;background-color:#539d34;border:1px solid #539d34;}
.sign-right-cont-box{margin-top:102px;padding-left:30px;}