
html,body{background-color:#f8f8f8;font-size:14px;color:#000000;}
/*  */
.list_body{padding-top:40px;}
.list_body  .context{width:90%;margin:0 auto;}
.list_body  span.text{display:inline-block;margin-right:3%;}
.list_body  .common_input{vertical-align:middle;margin-right:3%;padding-left:3%;height:30px;line-height:30px;vertical-align:top;display:inline-block;margin-bottom:25px;width:47%;background-color:#fff;border:1px solid #d2d2d2;border-radius:2px;}
.list_body  .common_a{display:inline-block;vertical-align:middle;background-color:#00abdf;border-radius:2px;padding:5px 0;width:17%;text-align:center;color:#fff;}
html.cheng .list_body  .common_a{background-color:#f7931e;}
.list_body  .common_a.old{background-color:#9f9f9f;}
html.cheng .list_body  .common_a.old{background-color:#9f9f9f;}
.list_body  .common_a.old:active{background-color:#9f9f9f;}
html.cheng .list_body  .common_a.old:active{background-color:#9f9f9f;}
.list_body  .common_a:active{background-color:#0096ca;}
html.cheng .list_body  .common_a:active{background-color:#d16d00;}
