
html,body{background-color:#fff;font-size:16px;color:#000000;}
/*  */
.list_body{margin-bottom:65px;}
.list_body  .search_div{font-size:16px;width:71%;margin:20px auto;text-align:right;}
.list_body  .search_div .common_input{vertical-align:middle;margin-bottom:10px;width:64%;margin-left:2%;height:32px;line-height:32px;padding-left:3%;display:inline-block;text-align:left;border:1px solid #d2d2d2;border-radius:3px;}
.list_body  .search_div select.common_input{width:68%;height:35px;line-height:35px;}
.list_body  .search_div .search_btn{width:68%;height:35px;line-height:35px;color:#fff;display:inline-block;border-radius:3px;background-color:#00abdf;text-align:center;}
html.cheng .list_body  .search_div .search_btn{background-color:#f7931e;}
.list_body  .list_div{}
.list_body  .list_div table{text-align:center;width:100%;line-height:35px;}
.list_body  .list_div table .title{background-color:#cceef9;line-height:25px;border-top:1px solid #e5e5e5;}
html.cheng .list_body  .list_div table .title{background-color:#fce1ce;}
.list_body  .list_div table tr{border-bottom:1px solid #e5e5e5;}
.list_body  .list_div a.common_a_btn{line-height:25px;border-radius:3px;display:inline-block;text-align:center;padding:2px 5px;color:#fff;background-color:#00abdf;}
html.cheng .list_body  .list_div a.common_a_btn{background-color:#f7931e;}
.list_body  .list_div a.common_a_btn:active{background-color:#0096ca;}
html.cheng .list_body  .list_div a.common_a_btn:active{background-color:#d16d00;}

.list_body  .page_p{line-height:35px;height:35px;}
.list_body  .page_p ul{display:block;text-align:center;margin:0 auto;overflow:hidden;}
.list_body  .page_p ul li{cursor:pointer;display:inline-block;padding:0 8px;}
.list_body  .page_p ul li.color{color:#00abdf;}
html.cheng .list_body  .page_p ul li.color{color:#f7931e;}
html.cheng .list_body  .page_p ul li.un,.list_body  .page_p ul li.un{color:#a2a2a2;}
