
h1,h2,h3,h4,h5,ul,li,dd,dl{margin:0;padding:0;font-weight:500;list-style-type:none;}
a{cursor:pointer;outline:none;}
html,body{margin:0;padding:0;}
*{}
html,body{height:100%;position:relative;font-size:16px;font-family:microsoft yahei;background-color:#e9eff8;color:#fff;}
/* top */
.body_div{margin:0 3%;}
.header{text-align:center;}
.header img{width:100%;margin:10% auto 0;min-width:240px;vertical-align:bottom;}
.tip_body{width:89%;height:353px;margin:0 auto;position:relative;}
.tip_body .bg{background-color:#14032a;position:absolute;top:0;right:0;left:0;bottom:0;z-index:1;
    /* older safari/Chrome browsers */  
    -webkit-opacity: 0.1;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.1;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.1;  
    /* IE9 + etc...modern browsers */  
    opacity: .1;  
    /* IE 4-9 */  
    filter:alpha(opacity=10);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10); 
}
.tip_body .bg2{position:absolute;display:block;top:0;right:0;left:0;bottom:0;z-index:2;}
.tip_body .ul{text-align:center;}
.tip_body .ul span.color{color:#f80000;vertical-align:middle;}
.tip_body .ul span.spacing1{letter-spacing:6px;}
.tip_body .ul span.spacing2{letter-spacing:42px;}
.tip_body .ul li{line-height:38px;margin-top:13px;}
.tip_body .ul li .block{display:block;}
.btn {text-align:center;margin-top:15px;}
.btn  a.btn_a{color:#14032a;display:inline-block;width:84%;margin-top:15px;height:40px;line-height:40px;text-align:center;background-color:#f9ed35;border-radius:30px;}

.bottom{height:100px;}
/* .bottom ul.ul{overflow:hidden;position:absolute;top:-182px;left:0;right:0;}
.bottom ul.ul li{float:left;display:inline-block;width:50%;height:328px;vertical-align:bottom;}
.bottom ul.ul li.li1{height:75px;margin-top:35px;width:40%;}
.bottom ul.ul li.li2{width:60%;background:url('img/bottom_ico2.png') no-repeat center center;background-size:contain;}
 */
select{appearance:none;-webkit-appearance: none;}
.select_common,.input_common{background:none;border:none;border-bottom:1px solid #fff;width:47%;height:22px;line-height:22px;display:inline-block;}
.select_common{background:none;background:url('img/down.png') no-repeat 97% center;background-size:auto 40%;}

.main_bg{position:relative;bottom:0;height:100%;background:url('img/bottom_bg.jpg') no-repeat bottom left;background-size:100% 100%;}