
.clearfix {
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 28px;
    width: 100%;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.ks-inline-block {
    display: inline-block;
}
.ks-ext-mask {
    background-color: #333;
    opacity: 0.5;
}
.ks-clear {
}
.ks-clear::before, .ks-clear::after {
    content: "";
    display: table;
}
.ks-clear::after {
    clear: both;
}
.ks-hidden {
    display: none;
}
html {
}
body {
    background-color: white;
    overflow: hidden;
}
iframe {
    border: medium none;
}
.header, .dl-main-nav {
    /* background: #204077 url("../img/main-nav-bg.png") repeat-x scroll 0 0; */
}
.header {
    background-color: #161a21;
    height: 34px;
	line-height:34px;
    overflow: hidden;
    width: 100%;
}
.dl-title {
    color: #c1d5ec;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    line-height: 36px;
    margin-left: 12px;
}
.dl-title a {
    color: #c1d5ec;
}
.dl-log {
    color: #ff4c00;
    float: right;
    padding: 0px 16px 0 0;
	font-size:15px;
}
.dl-log-user {
}
.dl-log-quit {
    color: #ff4c00;
    padding-left: 8px;
}
.content {
    width: 100%;
}
.dl-main-nav {
    background-color:#2a323d;
    height: 58px;
    overflow: hidden;
    position: relative;
	border-bottom:3px solid #161a21;
}
.dl-main-nav .nav-list {
    border-bottom: 0 solid #fff;
    border-width: 0;
    overflow: hidden;
}
.nav-item {
    color: white;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
    padding: 0px 0 0 0px;
    position: relative;
    width: 142px;
}
.nav-list .nav-item {
    color: #d4d4d4;
    float: left;
	border-right:2px solid #333e4d;
}
.nav-item-inner, .dl4-hide-list .dl-hover {
    background: transparent url("../img/icon1.png") no-repeat scroll 0 0;
}
.nav-list .dl-hover {
}
.dl4-hide-list .dl-hover {
    /* background-position: 8px -40px; */
}
.nav-item-inner {
    border: 1px solid transparent;
    height: 52px;
    padding: 4px 0 0 0px;
	text-align:center;
	line-height:52px;
}
.nav-item-mask {
    background-color: white;
    border: 1px solid #333;
    border-radius: 2px;
    display: none;
    height: 25px;
    opacity: 0.15;
    position: absolute;
    top: 8px;
    width: 128px;
}
.dl-hide-list {
   /*  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none; */
    background-color: #2a323d;
    /* border-color: -moz-use-text-color #c3c3d6 #c3c3d6;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px; */
	border:2px solid #333e4d;
    overflow: hidden;
    padding: 10px 0 0;
    position: absolute;
    width: 160px;
    z-index: 10;
}
.dl-hide-list .nav-item {
    /* -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white;
    border-image: none;
    border-style: solid;
    border-width: 0 1px; */
    float: none;
    padding: 0;
    /* width: 158px; */
}
.dl-hide-list .dl-item-inner {
    background-color: #e8e9ee;
    color: #666;
    font-size: 12px;
    height: 23px;
    margin: 0 5px;
}
.dl-hide-list .nav-item:last-child {
    /* border-bottom: 1px solid white; */
    border-radius: 0 0 2px 2px;
    padding-bottom: 10px;
}
.dl-hide-list .dl-last {
    background-color: transparent;
    padding-top: 6px;
}
.dl-hide-list .dl-last {
    display: none;
}
.dl-hide-list .nav-item-inner {
    background-color: #2a323d;
    color: #fff;
    font-size: 16px;
    height: 23px;
	line-height:23px;
    margin: 0 5px;
}
.dl-hide-list .nav-item:hover .nav-item-inner {
    /* background-color: #e0e6fc; */
    /* border: 1px solid #a9b9f5; */
    /* border-radius: 2px; */
	color:#ff4c00;
}
.nav-list .dl-hover .nav-item-mask, .nav-list .dl-last .nav-item-mask {
    /* display: block; */
}
.nav-list .dl-selected .nav-item-inner {
    background-color: #ff4c00;
    /* border: 1px solid #fff; */
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-weight: bold;
    height: 52px;
}
.nav-list .dl-selected .nav-item-mask {
    display: none;
}
.dl4-hide-list .nav-permission, .dl-selected .nav-permission {
    background-position: 4px -124px;
}
.nav-permission {
    background-position: 4px -174px;
}
.dl4-hide-list .nav-storage, .dl-selected .nav-storage {
    background-position: -444px -127px;
}
.nav-storage {
    background-position: -444px -176px;
}
.dl-selected .nav-inventory, .dl4-hide-list .nav-inventory {
    background-position: -443px -324px;
}
.nav-inventory {
    background-position: -444px -375px;
}
.dl-selected .nav-user, .dl4-hide-list .nav-user {
    background-position: -144px -224px;
}
.nav-user {
    background-position: -144px -274px;
}
.dl-selected .nav-order, .dl4-hide-list .nav-order {
    background-position: -144px -126px;
}
.nav-order {
    background-position: -144px -176px;
}
.dl-selected .nav-product, .dl4-hide-list .nav-product {
    background-position: -444px -427px;
}
.nav-product {
    background-position: -444px -477px;
}
.dl-selected .nav-supplier, .dl4-hide-list .nav-supplier {
    background-position: -594px -427px;
}
.nav-supplier {
    background-position: -594px -476px;
}
.dl-selected .nav-cost, .dl4-hide-list .nav-cost {
    background-position: -294px -324px;
}
.nav-cost {
    background-position: -294px -374px;
}
.dl-selected .nav-monitor, .dl4-hide-list .nav-monitor {
    background-position: -144px -324px;
}
.nav-monitor {
    background-position: -144px -374px;
}
.dl-selected .nav-gather, .dl4-hide-list .nav-gather {
    background-position: 4px -224px;
}
.nav-gather {
    background-position: 4px -274px;
}
.dl-selected .nav-distribution, .dl4-hide-list .nav-distribution {
    background-position: -444px -224px;
}
.nav-distribution {
    background-position: -444px -274px;
}
.dl-selected .nav-goods, .dl4-hide-list .nav-goods {
    background-position: -594px -124px;
}
.nav-goods {
    background-position: -594px -174px;
}
.dl-selected .nav-register, .dl4-hide-list .nav-register {
    background-position: -594px -224px;
}
.nav-register {
    background-position: -594px -274px;
}
.dl-selected .nav-marketing, .dl4-hide-list .nav-marketing {
    background-position: 4px -324px;
}
.nav-marketing {
    background-position: 4px -374px;
}
.dl-selected .nav-package, .dl4-hide-list .nav-package {
    background-position: -594px -324px;
}
.nav-package {
    background-position: -594px -374px;
}
.dl-selected .nav-home, .dl4-hide-list .nav-home {
    background-position: 4px -424px;
}
.nav-home {
    background-position: 4px -474px;
}
.dl-selected .nav-product-certified, .dl4-hide-list .nav-product-certified {
    background-position: 4px -524px;
}
.nav-product-certified {
    background-position: 4px -574px;
}
.dl-selected .nav-quality-certified, .dl4-hide-list .nav-quality-certified {
    background-position: -144px -524px;
}
.nav-quality-certified {
    background-position: -144px -574px;
}
.dl-selected .nav-supplier-certified, .dl4-hide-list .nav-supplier-certified {
    background-position: -294px -524px;
}
.nav-supplier-certified {
    background-position: -294px -574px;
}
.dl-selected .nav-certification, .dl4-hide-list .nav-certification {
    background-position: -444px -524px;
}
.nav-certification {
    background-position: -444px -574px;
}
.dl-selected .nav-sample, .dl4-hide-list .nav-sample {
    background-position: -594px -524px;
}
.nav-sample {
    background-position: -594px -575px;
}
.dl-selected .nav-supplychain, .dl4-hide-list .nav-supplychain {
    background-position: -747px -125px;
}
.nav-supplychain {
    background-position: -747px -178px;
}
.dl-inform {
    cursor: pointer;
    display: none;
    float: right;
    padding-top: 10px;
    width: 135px;
}
.dl-hide-current {
    margin-left: 5px;
}
.dl-selected .dl-hide-current {
    background-image: url("../img/icon2.png");
}
.dl-tab-content {
    height: 100%;
    width: 100%;
}
.dl-tab-item {
    width: 100%;
}
.dl-tab-item-inner {
    height: 430px;
    width: 100%;
}
.dl-second-nav, .dl-second-tree, .dl-inner-tab {
    height: 100%;
}
.dl-second-tree {
    float: left;
    width: 186px;
}
.dl-second-nav {
    background-color: #2a323d;
    float: left;
    padding-top: 0px;
    position: relative;
    width: 186px;
}
.dl-inner-tab .dl-tab-nav {
    background-color: #2a323d;
}
.dl-second-nav .menu-container {
    background-color: transparent;
}
.dl-collapse .dl-second-nav {
    width: 10px;
}
.dl-collapse .dl-second-tree {
    width: 3px;
}
.dl-collapse .menu-container {
    display: none;
}
.dl-inner-tab {
    margin-left: 186px;
}
.dl-collapse .dl-inner-tab {
    margin-left: 10px;
}
.dl-second-slib-con {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: -6px;
    top: 0;
    width: 7px;
}
.dl-second-slib {
    background: transparent url("../img/left-slib.gif") no-repeat scroll 0 center;
    border-left: 1px solid #c3c3d6;
    border-radius: 0px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 6px;
}
.dl-collapse .dl-second-slib {
    background-position: -6px center;
}
.dl-inner-tab .bui-nav-tab {
    padding-top: 0px;
}
.dl-inner-tab .bui-nav-tab, .dl-inner-tab .tab-nav-inner {
    background-color: #edeef2;
}
.dl-inner-tab .tab-content-container {
    /* background-color: #fff; */
}

/* 2016-6-24 */
.dl-log .n_user_ico{display:inline-block;vertical-align:text-bottom;width:24px;height:21px;margin:0px 6px 0 36px;background:url('../img/n_u_ico_1.png') no-repeat center center;background-size:contain;}
.dl-log .n_user_ico2{background:url('../img/n_u_ico_2.png') no-repeat center center;background-size:contain;}

