body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background:#161b21;
    overflow: hidden;
	position:relative;
	font-family:微软雅黑;
}
form{
    padding: 0px;
    margin: 0px;
}
.FormDiv{
    border:10px solid #41536a;
	padding-top: 25px;
    width:357px;
    height:178px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background: #212a36;
}

#userDiv{
    width: 280px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background: url("user_bak.png") no-repeat;border-radius:2px;
}
#username{
    width: 228px;
    height: 33px;
    border: 0px solid;
    color: #8e8e8e;
    font-size: 17px;
    margin-left: 50px;
    background-color:transparent;
}
#passDiv{
    width: 280px;border-radius:2px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background: url("pass_bak.png") no-repeat;
}
#password{
    width: 228px;
    height: 33px;
    border: 0px solid;
    color: #8e8e8e;
    font-size: 17px;
    margin-left: 50px;
    background-color:transparent;
}
#loginbtn{
    display:inline-block;
	background-color: #ff4c00;
    width: 280px;
    height: 35px;line-height:35px;
    border: 0px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.common_pannel{border-radius:2px;}
.L_logo{margin:0 auto 27px;width:285px;}
.main_bg{position:fixed;top:15px;bottom:46px;width:100%;background:url("L_bg.jpg") no-repeat center center;z-index:1;}
.container{
    text-align: center;
    width: 100%;
   position:fixed;top:50%;bottom:0;z-index:2;margin-top:-211px;
	/* top:50%;margin-top:-100px; */
}
.L_top{height:15px;background-color:#161b21;}
.L_bottom{text-align:center;position:fixed;bottom:0;left:0;right:0;height:46px;background-color:#161b21;}
.L_bottom .img{margin:5px auto 0;}