
html,body{background-color:#fff;font-size:16px;color:#fff;margin;0;padding:0;}
/*  */
.acc_header{background-color:#55b6f4;padding:20px 0;text-align:center;}
.acc_header .text{line-height:30px;display:inline-block;margin:0 auto;width:200px;height:200px;background:url('../img/acc_img1.png') no-repeat center center;background-size:contain;}
.acc_header .mess{font-size:25px;line-height:50px;}

.acc_body{padding:30px 3%;}
.acc_div1{border:1px solid #62a7f4;width:100%;margin-bottom:20px;}
.acc_div1 .acc_left{text-align:center;line-height:30px;height:100%;color:#fff;background-color:#62a7f4;}
.acc_div1 .acc_right{padding-left:2%;color:#000;font-size:14px;line-height:25px;}
.acc_div2{width:100%;text-align:center;background-color:#887af5;line-height:70px;margin-bottom:20px;}


