
.set_body{font-size:16px;color:#000000;padding:30px 0 0;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#48c6f4,endColorStr=#a952f5); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #48c6f4,  #a952f5);        /* IE 10 */
background:-moz-linear-gradient(top,#48c6f4,#a952f5);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#48c6f4), to(#a952f5));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#48c6f4), to(#a952f5));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #48c6f4, #a952f5);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #48c6f4, #a952f5);  /*Opera 11.10+*/
}
/*  */
.set_body{padding:20px 0 50px;}
.logo_div{}
.user_logo{display:inline-block;width:90%;height:90%;border-radius:150px;margin:8px auto 0;background:url('../img/index_img_ico.png') no-repeat center right;background-size:contain;}
.ico_bg{display:block;margin:0 auto;text-align:center;width:160px;height:160px;background-color:#83c5f7;border-radius:150px;}
.user_info{text-align:center;color:#fff;font-size:17px;margin:20px 0 20px;}
.user_info .size1{font-size:15px;}
.messa{padding:0 3%;}
.messa .over{overflow:hidden;margin-bottom:10px;}
.messa .a_btn{color:#fff;float:right;display:inline-block;padding-right:22px;background:url('../img/set_ico_right.png') no-repeat center right;background-size:auto 69%;}
.messa .text{min-height:108px;padding:5px 0 15px;background-color:#cccefb;border-radius:3px;text-align:center;overflow:hidden;}
.messa .text.noCard  span{display:none;}
.messa .text.noCard{cursor:pointer;background:url('../img/add_ico.png') no-repeat center center;background-size:auto 40%;background-color:#cccefb;}
.messa .text .size1{text-align:left;display:block;padding:15px 13px 10px;}
.messa .text .size2{line-height:30px;}
.messa .text .size3{line-height:30px;color:#535353;font-size:15px;}
.a_content{display:none;padding:0 3%;color:#fff;text-align:center;z-index:2;position:fixed;top:50%;margin-top:-125px;left:0;right:0;}
.a_content .common_input{color:#000;height:25px;line-height:25px;margin-bottom:10px;width:70%;margin-left:3%;padding-left:3px;border-radius:2px;}
.a_content select.common_input{width:71%;}
.a_content .common_abtn{color:#fff;display:inline-block;height:35px;line-height:35px;width:95%;margin:10px auto 30px;background-color:#3ec4f0;}
.a_content .common_abtn.cancel{margin:-10px auto 30px;background-color:#3ec4f0;}
.bg{ display:none;z-index:1;position:fixed;bottom:0;top:0;left:0;right:0;background-color:#282828;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.a_content .code{width:30%;}
.a_content .common_abtn.right_a{width:40%;margin-left:3px;font-size:14px;height:25px;line-height:25px;}
.bottom{background-color:#392248;padding:5px;overflow:hidden;}
.bottom .right_img{float:right;}
