
body{font-size:16px;color:#8e8e8e;height:100%;padding:0;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#48c6f4,endColorStr=#a952f5); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #48c6f4,  #a952f5);        /* IE 10 */
background:-moz-linear-gradient(top,#48c6f4,#a952f5);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#48c6f4), to(#a952f5));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#48c6f4), to(#a952f5));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #48c6f4, #a952f5);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #48c6f4, #a952f5);  /*Opera 11.10+*/
}
/*  */
.logo{margin-top:0px;text-align:center;margin-bottom:23px;}
.logo img.logo_img{width:100%;vertical-align:bottom;}
.login_form{}
.login_form .bg{width:90%;margin:0 auto;padding:8px;}
.login_form .common_input{color:#fff;border-bottom:1px solid #ffffff;padding-left:12%;margin-bottom:10px;display:inline-block;width:88%;height:40px;line-height:40px;}
.login_form .common_input.common_input1{width:100%;background:url('../img/reg_img_i1.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input2{background:url('../img/reg_img_i2.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input3{background:url('../img/reg_img_i3.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input4{background:url('../img/reg_img_i4.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input5{background:url('../img/reg_img_i5.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input6{background:url('../img/reg_img_i6.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .common_input.common_input7{width:50%;background:url('../img/reg_img_i7.png') no-repeat 3% center;background-size:auto 50%;}
.login_form .right_a_btn{color:#fff;margin-top:11px;font-size:15px;float:right;vertical-align:bottom;background-color:#3ec4f0;display:inline-block;width:35%;text-align:center;height:30px;line-height:30px;}

.bottom{background-color:#392248;padding:5px;overflow:hidden;margin-top:30px;}
.bottom .right_img{float:right;}

.login_form a.login_btn{margin-top:10px;border-radius:3px;background-color:#3ec4f0;text-align:center;font-size:17px;color:#fff;display:inline-block;width:100%;height:40px;line-height:40px;}
.login_form a.login_btn:active{background-color:#1d90b6;}
.login_form a.regist{border:1px solid #fff;border-radius:3px;background:none;text-align:center;font-size:17px;color:#fff;display:inline-block;width:100%;height:40px;line-height:40px;}
.login_form a.regist:active{}