@charset "UTF-8";
@charset "utf-8";
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p {
  margin: 0;
  padding: 0;
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
ul{
	list-style:none;
}
address,caption,cite,code,dfn,em,th,var,optgroup,b,i,h1 {
  font-style: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
html{
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
a{
	text-decoration:none;
	cursor:pointer;
	color:inherit;
	outline:none;
}
a:hover,a:active{
	text-decoration:none;
	outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="search"],input[type="number"],input[type="text"],input[type="button"],input[type="password"],input[type="submit"],select,input[type="checkbox"]{
	-webkit-appearance:none;
	border:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
	border-width:0px;
	background-color:#fff;
}

*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/* 公共头部 */
.common_head{z-index:2;border-bottom:1px solid #bfbfbf;position:relative;left:0;right:0;top:0;}
.common_head ul.ul{overflow:hidden;background-color:#fff;}
.common_head ul.ul li{height:40px;line-height:40px;font-size:16px;text-align:center;float:left;display:inline-block;color:#00abdf;}
.common_head ul.ul li.li1{cursor:pointer;width:15%;background:url('../img/back_ico.png') no-repeat center center;background-size:auto 50%;}
html.cheng .common_head ul.ul li.li1{background:url('../img/Cback_ico.png') no-repeat center center;background-size:auto 50%;}
.common_head ul.ul li.li1.none{background:none;}
.common_head ul.ul li.li2{width:42%;color:#000000;}
.common_head ul.ul li.li3{text-align:right;width:40%;color:#33bce5;padding-right:3%;}
body{}
.common_head .content{position:relative;}
.demo_position{position:absolute;right:0;top:41px;display:inline-block;display:none;}
