
html,body{background-color:#fff;font-size:16px;color:#222222;margin;0;padding:0;}
/*  */
.index_h{position:relative;margin-bottom:60px;}
.index_h .logo_ico{max-width:125px;border-radius:150px;display:block;margin:0 auto;height:102%;bottom:-50%;left:0;right:0;position:absolute;width:24%;background:url('../img/index_img_ico.png') no-repeat center center;background-size:contain;}
.index_h .h_bg{width:100%;vertical-align:bottom;}

.index_body{padding:0 3%;}
.user_info{margin-bottom:20px;text-align:center;color:#000;font-size:18px;line-height:25px;}
.user_info .size1{font-size:14px;color:#747474;}
.messg{margin-top:50px;line-height:30px;text-align:center;font-size:14px;color:#000;}
.messg .size1{font-size:25px;color:#3ec4f0;display:inline-block;margin-bottom:30px;}
