@charset "UTF-8";
@charset "utf-8";
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p {
  margin: 0;
  padding: 0;
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
ul{
	list-style:none;
}
address,caption,cite,code,dfn,em,th,var,optgroup,b,i,h1 {
  font-style: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
html{
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
a{
	text-decoration:none;
	cursor:pointer;
	color:inherit;
	outline:none;
}
a:hover,a:active{
	text-decoration:none;
	outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="search"],input[type="number"],input[type="text"],input[type="button"],input[type="password"],input[type="submit"],select,input[type="checkbox"]{
	-webkit-appearance:none;
	border:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
	border-width:0px;
	background-color:#fff;
}

*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.d_body_div{margin:0 3%;}
.h_title{padding-left:3px;font-size:26px;color:#222933;border-left:2px solid #ff4c00;margin:32px 0 27px;}

.message_list{width:100%;text-align:center;}
.message_list td{padding:0 6px;width:16.667%;}
.top_img{height:80px;line-height:80px;}
.td1 .top_img{background:url('../Images/d_img_1.png') no-repeat center center;background-size:auto 70%;background-color:#51c7f5;}
.td2 .top_img{background:url('../Images/d_img_2.png') no-repeat center center;background-size:auto 70%;background-color:#ff6c5c;}
.td3 .top_img{background:url('../Images/d_img_3.png') no-repeat center center;background-size:auto 70%;background-color:#f8d435;}
.td4 .top_img{background:url('../Images/d_img_4.png') no-repeat center center;background-size:auto 70%;background-color:#68cacb;}
.td5 .top_img{background:url('../Images/d_img_5.png') no-repeat center center;background-size:auto 70%;background-color:#a48ad4;}
.td6 .top_img{background:url('../Images/d_img_6.png') no-repeat center center;background-size:auto 70%;background-color:#a8db65;}

.content{}
.text_div{color:#2e2e2e;background-color:#fff;padding-bottom:24px;}
.text_div span{display:block;margin:0 auto;}
.size1{font-size:18px;line-height:38px;margin:22px auto 14px;}
.size2{font-size:26px;}
.size3{font-size:16px;margin:36px auto 21px;}
.size4{font-size:20px;}
.td1 .size2{color:#51c7f5;}
.td2 .size2{color:#ff6c5c;}
.td3 .size2{color:#f8d435;}
.td4 .size2{color:#68cacb;}
.td5 .size2{color:#a48ad4;}
.td6 .size2{color:#a8db65;}
/*  */
.charts{overflow:hidden;margin-top:60px;}
.charts .c_left{float:left;display:inline-block;width:60%;}
.charts .c_right{float:right;display:inline-block;width:30%;padding:0 5%;}
.charts .c_right .choise{border-collapse:collapse;overflow:hidden;margin-bottom:52px;}
.charts .c_right .choise .a_btn{background-color:#fff;display:inline-block;font-size:14px;color:#000000;width:32%;float:left;text-align:center;height:37px;line-height:37px;border:1px solid #aaaaaa;}
.charts .c_right .choise .a_btn.active{border:1px solid #ff4c00;color:#ff4c00;}
.charts .c_right .common_date{display:inline-block;width:80%;background-color:#fff;height:28px;line-height:28px;border:1px solid #dcdcdc;margin-bottom:5px;}
/*  */
.data_pie{width:100%;max-width:1295px;margin:0 auto;color:#000000;}
.data_pie td{width:20%;overflow:visible;}
.data_pie span.title{font-size:17px;}
.data_pie span.size2{font-size:14px;}
/*  */
.map_div{overflow:hidden;}
.map_div .map_left{float:left;display:inline-block;width:60%;}
.map_div .map_right{float:right;display:inline-block;width:40%;}
.map_div .paihang{width:85%;margin:0 auto 30px;text-align:center;font-size:14px;line-height:40px;border-collapse:collapse;border:1px solid #ff4c00;height:588px;}
.map_div .paihang .th{background-color:#ff4c00;color:#fff;}
/*  */
.mapTipText{width: 280px;height: 110px;background-color: #ffffff;}
.mapTipText .mapTipImg{height: 66px; width: 66px; float: left;border: 2px solid #ffffff; border-radius: 50%;overflow: hidden;margin: -12px 5px 0 -12px;}
.mapTipText .mapTipImg img{width: 100%;height: 100%;}
.mapTipText .mapTipList{float: left;margin-left: 4px;}
.mapTipText .mapTipList h2{text-align: left;}
.mapTipText .mapTipList h2 a{font-size: 24px; color: #262626;text-decoration:none;}
.mapTipText .mapTipList h2 a:hover{ color: #0085d2;}
.mapTipText .mapTipList h2 a span{font-size: 16px;margin-left: 3px;}
.mapTipText .mapTipList ul{ width: 203px;padding-right: 10px;}
.mapTipText .mapTipList ul li{list-style: none;float: left;padding: 7px 3px 0 3px;}
.mapTipText .mapTipList ul li a{color: #262626;text-decoration:none;}
.mapTipText .mapTipList ul li a:hover{background-color:#2ebcfe;color:#ffffff;}
.stateTip{position: absolute;left: 100%;text-align: left;display: inline;}
